{% extends 'base.html' %} 
{% load humanize %}

{% block title %}Notifications{% endblock %}


{% block content %}

    <div class="container notification-section" id="notification">

        <h2 class="title">Notifications</h2>
        <hr>

        <div class="row">
            <div class="col-md-12">
                <h4 class="title">New Messsages</h4>
                <hr>
                {% if not message_notifications %}
                    <p>You don't have new Messages!</p>
                {% endif %}

                <div class="message notifications">
                    {% for message_notification in message_notifications %}
                        <div class="post">
                            <article class="media">

                                <div class="media-content">
                                    <div class="content">
                                        <p>
                                            <a href="{% url 'conversation' message_notification.created_by.id %}" style="color:black;">
                                                <strong>{{ message_notification.created_by.first_name }} {{message_notification.created_by.last_name}}</strong> sent message<br>
                                                <small>{{ message_notification.created_at|naturaltime }}</small>
                                            </a>
                                        </p>
                                    </div>
                                </div>

                            </article>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h4 class="title">New joins or New information added</h4>
                <hr>
                {% if not new_join_notifications %}
                    <p>You have no New joins!</p>
                {% endif %}

                <div class="message notifications">
                    {% for new_join_notification in new_join_notifications %}
                        <div class="post">
                            <article class="media">

                                <div class="media-content">
                                    <div class="content">
                                        <p>
                                            <a href="{% url 'profile' new_join_notification.created_by.id %}" style="color: black">
                                                <strong>{{ new_join_notification.created_by.first_name }} {{new_join_notification.created_by.last_name}}</strong> is new joined or updated info!<br>
                                                <small>{{ new_join_notification.created_at|naturaltime }}</small>
                                            </a>
                                        </p>
                                    </div>
                                </div>

                            </article>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

