{% extends 'base.html' %} 
{% load static %}
{% load humanize %}

{% block title %}Profile{% endblock %}



{% block content %}

<div class="container m-4 ">
  <div class="row info-msg">
    <div class="msg-info" id="info-message"></div>
  </div>
  <div class="profile_container">
    <div class="row user_info_table">
      <table id="example" class="table">
        <tbody>
            <tr> 
              <td><strong>Telegram Id</strong></td>
              <td>{{cur_user.username}}</td>
            </tr>
            <tr> 
              <td><strong>Telegram Username</strong></td>          
              <td><a href="https://t.me/{{cur_user.telegram_username}}" target="_blank" class="alias">@{{cur_user.telegram_username}}</a></td>
            </tr>
            <!--
            <tr> 
              <td><strong>Innopolis Email</strong></td>
              <td>{{cur_user.inno_email}}</td>
            </tr>
            
            <tr> 
              <td><strong>First Name</strong></td>
              <td>{{cur_user.first_name}}</td>
            </tr>
            <tr> 
              <td><strong>Last Name</strong></td>
              <td>{{cur_user.last_name}}</td>
            </tr>
            -->
            <tr> 
              <td><strong>Telegram First Name</strong></td>
              <td>{{cur_user.telegram_first_name}}</td>
            </tr>
            <tr> 
              <td><strong>Telegram Last Name</strong></td>
              <td>{{cur_user.telegram_last_name}}</td>
            </tr>
            <tr> 
              <td><strong>Location</strong></td>
              <td>{{cur_user.location}}</td>
            </tr>
            <tr> 
              <td><strong>Course</strong></td>
              <td>{{cur_user.course}}</td>
            </tr>
            <tr> 
              <td><strong>Group</strong></td>
              <td>{{cur_user.group}}</td>
            </tr>
            <tr> 
              <td><strong>Joined Date</strong></td>
              <td>{{cur_user.date_joined|naturaltime}}</td>
            </tr>
        </tbody>
      </table>
    </div>
  
    <div class="main_info">
      <div class="card-avatar">
            <img class="img" src="../../static/img/empty.png" alt="avatar">
      </div>

      <div class="inno_email">{{cur_user.inno_email}}</div>
      <div class="personal_info">{{cur_user.first_name}} {{cur_user.last_name}}</div>
  
      <div class="row buttons_row">
      
        <div class="msg_btn">
          <a href="{% url 'conversation' cur_user.id %}" >Message</a>
        </div>
    
        <div class=" request_info">
          {% csrf_token %}
    
          <button class="request_info_btn" onclick="requestButton()">Ask to Update Info!</button>
    
        </div>
      </div>
    </div>
  </div>
  



  
</div>

{% endblock %}


{% block script %}

<script>

  const infomsg = document.getElementById("info-message");
  // const csrf = document.getElementsByName('csrfmiddlewaretoken')[0].value;

  function requestButton() {
    $.ajax({
        type: 'POST',
        url: '/request_new_info',
        data: {
            'csrfmiddlewaretoken': csrf,
            'username':"{{cur_user.username}}"
        },
        success: (res)=> {
           
            const data = res.data
            infomsg.innerHTML = `<div class="alert alert-success alert-dismissible fade show" role="alert">
                                  <strong>Request to update profile info is successfully sent!</strong>
                                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>`

        },
        error: (err)=> {
            console.log(err)
        }
    })
}
</script>
{% endblock %}
